:root {
  --blue: #364c96;

  --white: #eaebed;
  --light-0: #eee;
  --light-1: #ddd;
  --light-2: #ccc;
  --gold: #ffc107;

  --red: #ff8496;
  --brown-0: #ffc8a3;

  --red-s: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --success: #28a745;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;

  --dark-0: #333;
  --dark-1: #444;
}

/*========
  GLOBAL
========*/

html {
  box-sizing: border-box;
}

*,
*:before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li,
.add-project,
.add-task {
  cursor: pointer;
}

#main__right li {
  cursor: default;
}

/*============
  TYPOGRAPHY
============*/
body {
  font-family: "Lato", sans-serif;
}

header,
footer {
  color: var(--white);
}

.fa-list-check {
  font-size: 2.2rem;
}

.fa-bars {
  font-size: 1.4rem;
}

h1 {
  font-size: 2.1rem;
}

.active {
  font-weight: bold;
}

.left__top ul,
.add-project,
.add-task,
#main__right ul {
  font-size: 1.125rem;
}

.left__bottom ul {
  font-size: 1.1rem;
}

#main__right h2 {
  font-weight: 800;
  font-size: 1.8rem;
}

.fa-github {
  font-size: 1.2rem;
  color: var(--gold);
}

/*==========
  SPECIFIC
==========*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*|-- Header --|*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header,
#main__left,
#main__right {
  padding: 1.4rem 0.8rem;
}

header,
footer {
  background-color: var(--blue);
}

/*|-- Main-left --|*/
#main__left {
  background-color: var(--light-1);
}

#main__left.d-none {
  display: none;
}

.active,
.hover-me:hover,
.project:hover,
.add-project:hover,
.task:hover,
.add-task:hover {
  background-color: var(--light-2);
  border-radius: 10px;
}

main ul {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

main ul .fa-solid {
  margin-right: 0.4rem;
}

.left__top ul li,
.add-project,
.add-task,
#main__right ul li {
  padding: 0.6rem;
}

.left__bottom ul li {
  padding: 0.4rem;
}

.left__bottom h2 {
  margin-top: 1rem;
  margin-bottom: 0.7rem;
}

.project {
  line-height: 1.4;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.fa-list {
  vertical-align: middle;
}

.add-project .fa-plus,
.add-task .fa-plus {
  margin-right: 0.5rem;
}

.left__bottom .fa-trash-can {
  display: none;
  margin-left: 5px;
}

.left__bottom .active > .fa-trash-can {
  display: inline;
}

/*|-- Main-right --|*/
#main__right,
body {
  background-color: var(--light-0);
}

#main__right {
  padding-inline: 2rem;
}

.fa-square,
.fa-square-check {
  color: var(--blue);
}

/*|-- Footer --|*/
footer {
  margin-top: auto;
  padding: 0.8rem;
  text-align: center;
}

.fa-github {
  margin-left: 0.4rem;
  transition: transform 0.2s ease-in-out;
}

.fa-github:hover {
  transform: scale(1.2) translateY(-5px);
}

/*==============
  MEDIA QUERIES
==============*/

@media screen and (min-width: 660px) {
  header .d-none {
    display: none;
  }

  header {
    justify-content: center;
  }

  main {
    display: grid;
    grid-template-columns: 280px 1fr;
    min-height: calc(100vh - 84.78px - 45.59px);
  }

  #main__left.d-none {
    display: block;
  }
} ;
